* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #1A0B2E; */
    /* background-color: rgb(55, 42, 42); */
}

/* inter font Class here */
.inter-font {
    font-family: "Inter", sans-serif;

}

/* Shared Style is here */
.btn-gradian {
    color: white;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, rgb(57, 111, 13), rgb(255, 22, 169));
    cursor: pointer;
    align-items: center;
    /* justify-content: center;
    justify-items: center;
    text-align: center; */
    display: flex;
    gap: 8px;
    /* -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}

.grid-bg {
    background-color: #35116540;
}


/* header all style  */
.nav-bar .banner-section,
.about-section {
    max-width: 1600px;
    margin: 0 auto;
    /* border: 20px solid black; */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    /* border: 1px solid black; */
    border-bottom: 4px solid rgb(214, 114, 114);
    /* text-align: center; */
    align-items: center;
    background-color: #2A186C;
}

.nav-title {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.Wave {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 234, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nav-list {
    display: flex;
    gap: 32px;
}

.nav-list li {
    list-style: none;

}

.nav-list li a {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 120%;

}

.hamburger {
    display: none;
}

/* banner style */
.banner-section {
    padding-top: 100px;
    padding-bottom: 100px;
    /* border: 3px solid green; */
    /* background-color: #2A186C; */
    background-color: #1A0B2E;
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;

}

.banner-container {

    /* border: 1px solid rgb(245, 242, 242); */
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    justify-items: center;

}

.banner-image {
    /* border: 2px solid wheat; */
    /* margin-bottom: 42px; */
    padding: 150px;
    background-image: url("assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;

}

.banner-image img {
    max-width: 150px;
    max-height: 200px;
    /* margin-bottom: 42px; */

}

.banner-container h1 {
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: bolder;
    margin-bottom: 8px;
}

.banner-container p {
    color: #8f8e8e;
    margin-bottom: 24px;
}

.new-btn {
    color: black;
    font-size: 18px;
    padding: 8px 18px;
    background-color: greenyellow;
    border: none;
    border-radius: 10000px;
    box-shadow: 0px 0px 20px gold;
    position: absolute;
    top: 130px;
    right: 0;
    cursor: pointer;
    animation: new 1.2s infinite;
}

/* new-btn animation code  */

@keyframes new {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }

}




.two-btn {
    /* border: 1px solid wheat; */
    display: flex;
    gap: 25px;
}

.btn-blank {
    padding: 15px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10000px;
    border: 1px solid greenyellow;
    background: none;
    display: flex;
    gap: 8px;
}

/* Main section's all style start here  */
main {
    background-color: #1A0B2E;
}

.about-section {
    /* justify-items: center; */
    text-align: center;
    /* border: 2px solid rgb(231, 219, 219); */
    /* background-color: #977db1; */
    padding: 50px 200px 120px 200px;
}

.about-details {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.about-details h2 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.about-details p {
    color: #FFFFFF80;
    font-size: 1rem;
    line-height: 35px;
}

.about-rating {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 80px;
    border-top: 1px solid #ffffff40;


}



.about-rating h3 {
    color: #00ff88;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-rating p {
    font-size: 1rem;
    line-height: 20px;
    color: #FFFFFF80;
}

/* this is grid section  */

.grid-section {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 120px;

}

.grid-section h3 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.grid-container img {
    margin-bottom: 20px;
}

.grid-box-4 img {
    width: 40px;
    height: 40px;
}

.grid-container h4 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 18px;
}

.grid-container p {
    color: #FFFFFF80;
    font-size: 16px;
    line-height: 24px;
}


.grid-container {
    max-width: 1200px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 330px);
    /* grid-row: span 2;
    grid-column: span 2; */
}

.grid-container .box {
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
}

.grid-box-1 {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-box-2 {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-box-3 {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-box-4 {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-box-5 {
    grid-column: span 1;
    grid-row: span 1;
}

/* this si iframe section style */
.iframe-section {
    max-width: 1600px;
    margin: 0 auto;
    /* padding: 200px 200px; */
    /* padding: 0px 200px; */
    text-align: center;
    /* margin-bottom: 200px; */
    border: 2px solid white;

}

.iframe-section h2 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.iframe-div {
    display: flex;
    gap: 20px;
    text-align: left;
    max-width: 1200px;
    /* border: 3px solid wheat; */
    margin: 0 auto;
    padding: auto;
}

.iframe {
    /* max-width: 100%;
    max-height: 100%; */
    background-color: #35116540;
    /* border: 1px solid red; */
    margin-bottom: 60px;
    border-radius: 20px;
    max-width: 380px;

}

.iframe:hover {
    box-shadow: 8px 8px 15px #FFFFFF10;
}

.iframe iframe {
    border-radius: 10px;
    
}

.iframe h3 {
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
}

.iframe p {
    color: #FFFFFF80;
    font-weight: bold;
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 20px;
}

.iframe .time {
    color: green;
    margin-bottom: 30px;
}


/* Responsive style here */
@media screen and (max-width:576px) {

    .nav-list-container,
    .btn-container {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .nav-title {
        font-size: 2rem;
    }

    .nav-container {
        padding-right: 120px;
        padding-left: 40px;
    }

    .banner-section {
        padding: auto;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .banner-container {
        /* border: 1px solid rgb(245, 242, 242); */
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
        justify-items: center;
    }

    .banner-image {
        padding: 120px;
        background-size: 100%;
    }

    .banner-image img {
        max-width: 70px;
        max-height: 100px;
    }

    /* about section */
    .about-section {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .about-section {
        text-align: center;
        padding: 20px 50px;
    }

    .about-rating {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .about-rating h3 {
        font-size: 2rem;
    }


    /* this is grid section responsive style */
    .grid-section {
        /* max-width: 1600px;
        margin: 0 auto;
        text-align: center; */
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;

    }

    .grid-section h3 {
        /* color: #FFFFFF; */
        font-size: 1.5rem;
        /* font-weight: bold; */
        /* margin-bottom: 40px; */
        margin-top: 30px;
    }

    .grid-container img {
        margin-bottom: 10px;
    }

    .grid-box-4 img {
        width: 30px;
        height: 30px;
    }

    .grid-container h4 {
        /* color: #FFFFFF; */
        font-size: 1rem;
        /* font-weight: bold; */
        margin-bottom: 9px;
    }

    .grid-container p {
        color: #FFFFFF80;
        font-size: 1rem;
        /* line-height: 24px; */
    }


    .grid-container {
        max-width: 1200px;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 400px);
        /* grid-row: span 2;
    grid-column: span 2; */
    }

    .grid-container .box {
        padding: 25px;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: left;
    }

    .grid-box-1 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid-box-2 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid-box-3 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid-box-4 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid-box-5 {
        grid-column: span 1;
        grid-row: span 1;
    }


}