* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #1A0B2E; */
    background-color: rgb(55, 42, 42);
}

/* inter font Class here */
.inter-font {
    font-family: "Inter", sans-serif;

}

/* Shared Style is here */
.btn-gradian {
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 234, 0));
    /* -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}


/* header all style  */
.nav-bar {
    max-width: 1600px;
    margin: 0 auto;


}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    border: 1px solid black;
    border-bottom: 4px solid rgb(214, 114, 114);
    /* text-align: center; */
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: bold;
    color: brown;
}

.Wave {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 234, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nav-list {
    display: flex;
    gap: 32px;
}

.nav-list li {
    list-style: none;

}

.nav-list li a {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 120%;
}

/* Main section's all style start here  */