* {
    margin: 0;
    padding: 0;
}

/* inter font Class here */
.inter-font {
    font-family: "Inter", sans-serif;

}

/* Shared Style is here */
.flex {
    display: flex;
    margin: 0 auto;
}


/* header all style  */




/* Main section's all style start here  */